/* Fuente personalizada */
@font-face {
  font-family: 'njnaruto';
  src: url('../../fonts/njnaruto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.search-box {
  flex: 1;
  background-color: black;
  border: 2px solid red;
  border-radius: 15px;
  padding: 25px;
  color: white;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.search-box h2 {
  text-align: center;
  font-size: 22px;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Filtros */
.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.filters input {
  flex: 1;
  padding: 12px;
  border: 2px solid red;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 16px;
}

/* Lista de notificaciones */
.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.notification-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
  border-radius: 12px;
  padding: 10px 15px;
  background: black;
  color: white;
  transition: transform 0.2s;
}

.notification-item:hover {
  transform: scale(1.02);
  background: #1a1a1a;
}

.notification-text {
  flex: 1;
  margin: 0 10px;
  text-align: left;
  font-size: 16px;
}

/* Iconos */
.icon-left {
  width: 35px;
  height: 35px;
}

.icon-right {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* Estados */
.notification-item.prioritaria {
  border-color: red;
  border-width: 3px;
  box-shadow: 0 0 10px red;
}

.notification-item.resuelta {
  text-decoration: line-through;
  opacity: 0.7;
}

.notification-buttons {
  display: flex;
  gap: 10px;
}

.notification-buttons button {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-prioritaria {
  background-color: red;
  color: white;
}

.btn-resuelta {
  background-color: green;
  color: white;
}
/* Prioritaria */
.notification-item.prioritaria {
  border-color: red;
  background-color: #330000;
  box-shadow: 0 0 10px red;
}

/* Resuelta */
.notification-item.resuelta {
  opacity: 0.5;
  background-color: #1a1a1a;
}

/* Check interno */
.check-icon {
  color: limegreen;
  font-size: 20px;
  font-weight: bold;
}
