@font-face {
  font-family: 'njnaruto';
  src: url('../fonts/njnaruto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
      font-family: 'njnaruto';
      background: url('../image/fondo.png') repeat;
      display: flex;
      justify-content: center;
      height: 67vh;
    }

    .title{
    color: white;              
    font-size: 30px;            
    font-weight: bold;           
    text-align: center;          
    background: none;            
    border: none;                
    position: relative;
    left: 90px;
    }

    .container {
    width: 1300px;               
    height: 700px;              
    border: 2px solid red;      
    border-radius: 15px;        
    position: fixed;            
    top: 56%;                  
    left: 60%;                 
    transform: translate(-50%, -50%); 
    padding: 10px;              
    background-color: #000000;     
    }

    .container2 {
    width: 350px;       
    height: 100vh;       
    position: fixed;     
    top: 0%;              
    left: 0%;             
    margin-top: 0;      
    background-color: #000000; 
    border: 2px solid red;
    }

    .container3{
    width: 640px;               
    height: 640px;              
    border: 2px solid red;      
    border-radius: 15px;        
    position: fixed;            
    top: 50%;                  
    left: 27%;                 
    transform: translate(-50%, -50%); 
    padding: 10px;              
    background-color: #000000;   
    }

    .container4{
    width: 350px;               
    height: 350px;              
    border: 2px solid red;      
    border-radius: 700px;        
    position: fixed;            
    top: 30%;                  
    left: 75%;                 
    transform: translate(-50%, -50%); 
    padding: 10px;              
    background-color: #000000;   
    }

    .logo img {
    width: 80px;
    height: 80px;
    position: absolute;     
    top: 30px;              
    left: 120px;             
    resize: both;           
    overflow: auto;         
    cursor: move;           
    transition: all 0.2s ease; 
    border-radius: 50%;      
    object-fit: cover;
    border: 4px solid white;  
    }

    .logo2 img {
    width: 58px;          
    height: auto;
    display: block;
    position: fixed;
    top: 120px;                  
    left: 50px;
    margin: 20px auto;     
    margin-bottom: 5px;
    }

    .casita {
    width: 11px;          
    font-size: 13px;
    font-weight: bold;           
    display: block;
    position: fixed;
    margin: 0;
    top: 140px;                  
    left: 120px;
    }

    .estiloboton1 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 34px 130px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 130px;              
    left: 40px;
    }

    .estiloboton1:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    .logo3 img {
    width: 55px;          
    display: block;
    position: fixed;
    top: 202px;                  
    left: 50px;
    margin: 20px auto;     
    }

    .folder {
    width: 11px;          
    font-size: 13px;
    font-weight: bold;           
    display: block;
    position: fixed;
    top: 215px;                  
    left: 120px;
    }

    .estiloboton2 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 36px 130px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 204px;              
    left: 40px;
    }

    .estiloboton2:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

     .logo4 img {
    width: 50px;          
    display: block;
    position: fixed;
    top: 281px;                  
    left: 57px;
    margin: 20px auto;     
    }

    .base {
    width: 11px;          
    font-size: 13px;
    font-weight: bold;           
    display: block;
    position: fixed;
    top: 295px;                  
    left: 120px;
    }

    .estiloboton3 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 36px 130px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 283px;              
    left: 40px;
    }

    .estiloboton3:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    .logo5 img {
    width: 50px;          
    display: block;
    position: fixed;
    top: 350px;                  
    left: 50px;
    margin: 20px auto;     
    }

    .grafica {
    width: 11px;          
    font-size: 13px;
    font-weight: bold;           
    display: block;
    position: fixed;
    top: 370px;                  
    left: 110px;
    }

    .estiloboton4 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 36px 130px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 360px;              
    left: 40px;
    }

    .estiloboton4:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    .logo6 img {
    width: 53px;          
    display: block;
    position: fixed;
    top: 425px;                  
    left: 47px;
    margin: 20px auto;     
    }

    .personas {
    width: 11px;          
    font-size: 13px;
    font-weight: bold;           
    display: block;
    position: fixed;
    top: 430px;                  
    left: 110px;
    }

    .estiloboton5 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 36px 130px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 435px;              
    left: 40px;
    }

    .estiloboton5:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    .logo7 img {
    width: 53px;          
    display: block;
    position: fixed;
    top: 500px;                  
    left: 50px;
    margin: 20px auto;     
    }

    .campana {
    width: 11px;          
    font-size: 13px;
    font-weight: bold;           
    display: block;
    position: fixed;
    top: 520px;                  
    left: 110px;
    }

    .estiloboton6 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 36px 130px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 510px;              
    left: 40px;
    }

    .estiloboton6:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    .logo8 img {
    width: 53px;          
    display: block;
    position: fixed;
    top: 695px;                  
    left: 55px;
    margin: 20px auto;     
    }

    .corazon {
    width: 11px;          
    font-size: 13px;
    font-weight: bold;           
    display: block;
    position: fixed;
    top: 710px;                  
    left: 110px;
    }

    .estiloboton7 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 36px 130px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 700px;              
    left: 40px;
    }

    .estiloboton7:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    .linearoja {
    height: 3px;             
    background-color: rgb(255, 0, 0);   
    width: 280px;             
    position: fixed;
    top: 650px;                  
    left: 39px;
    }

    .btn {
    width: 200px;                
    height: 50px;                
    background-color: red;       
    color: white;                
    border: 2px solid transparent;  
    border-radius: 12px;            
    font-size: 16px;
    font-family: 'Arial', sans-serif; 
    font-weight: bold;              
    cursor: pointer;                 
    position: absolute;              
    top: 785px;                      
    left: 95px;                      
    padding: 10px 20px;             
    transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
    }

    .btn:hover {
    border: 2px solid white;  
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
    background-color: #ff4d4d;  
    }

    .texto1 {
    color: white;              
    font-size: 20px;            
    font-weight: bold;           
    text-align: center;          
    background: none;            
    border: none;                
    position: relative;
    position: absolute;          
    top: 1px;                
    left: 30px;  
    }

    .texto2 {
    color: white;              
    font-size: 20px;            
    font-weight: bold;           
    text-align: center;          
    background: none;            
    border: none;                
    position: relative;
    position: absolute;          
    top: 130px;                
    left: 30px;  
    }

    .texto3 {
    color: white;              
    font-size: 20px;            
    font-weight: bold;           
    text-align: center;          
    background: none;            
    border: none;                
    position: relative;
    position: absolute;          
    top: 260px;                
    left: 30px;  
    }

    .texto4 {
    color: white;              
    font-size: 20px;            
    font-weight: bold;           
    text-align: center;          
    background: none;            
    border: none;                
    position: relative;
    position: absolute;          
    top: 400px;                
    left: 30px;  
    }

    .campo-texto input {
    width: 550px;              
    padding: 10px 10px;        
    background: black;         
    border: 2px solid red;     
    border-radius: 8px;        
    color: white;              
    font-size: 16px;           
    outline: none;             
    position: absolute;              
    top: 90px;                      
    left: 30px; 
    }

    .campo-texto2 input {
    width: 550px;              
    padding: 10px 10px;        
    background: black;         
    border: 2px solid red;     
    border-radius: 8px;        
    color: white;              
    font-size: 16px;           
    outline: none;             
    position: absolute;              
    top: 220px;                      
    left: 30px; 
    }

    .campo-texto3 input {
    width: 550px;              
    padding: 10px 10px;        
    background: black;         
    border: 2px solid red;     
    border-radius: 8px;        
    color: white;              
    font-size: 16px;           
    outline: none;             
    position: absolute;              
    top: 360px;                      
    left: 30px; 
    }

    .campo-texto4 input {
    width: 550px;              
    padding: 10px 10px;        
    background: black;         
    border: 2px solid red;     
    border-radius: 8px;        
    color: white;              
    font-size: 16px;           
    outline: none;             
    position: absolute;              
    top: 500px;                      
    left: 30px; 
    }

    .naruto {
    width: 110px;          
    height: auto;
    display: block;
    position: fixed;
    top: 454px;                  
    left: 1150px;
    margin: 20px auto;     
    margin-bottom: 5px;
    }

    .Confirmacion {
    width: 11px;          
    font-size: 13px;
    font-weight: bold;           
    display: block;
    position: fixed;
    top: 570px;                  
    left: 215px;
    }

    .estiloboton8 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 36px 110px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 560px;              
    left: 200px;
    }

    .estiloboton8:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    .logo10 img {
    width: 50px;          
    display: block;
    position: fixed;
    top: 380px;                  
    left: 889px;
    margin: 20px auto;     
    }

    .estiloboton9 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 40px 40px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 380px;              
    left: 870px;
    }

    .estiloboton9:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    .logo11 img {
    width: 40px;          
    display: block;
    position: fixed;
    top: 380px;                  
    left: 1003px;
    margin: 20px auto;     
    }

    .estiloboton10 {
    display: inline-flex;
    flex-direction: column;      
    align-items: center;          
    border-radius: 12px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    padding: 40px 40px;
    transition: border 0.3s, box-shadow 0.3s;
    position: absolute;     
    top: 380px;              
    left: 980px;
    }

    .estiloboton10:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    