@font-face {
  font-family: 'njnaruto';
  src: url('../fonts/njnaruto.ttf') format('truetype');
}

.search-box {
  display: flex;
  justify-content: space-around;
  background: black;
  border: 2px solid #e63900;
  border-radius: 12px;
  padding: 10px;
  gap: 50px;
}

.search-box input {
  background: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #e63900;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-family: 'njnaruto';
  src: url('../fonts/njnaruto.ttf') format('truetype');
  width: 250px; 
}

.search-box input::placeholder {
  color: white;
  font-weight: bold;
}

.search-box input:focus {
  outline: none;
  border-color: white;
}

/* --- Resultados --- */
.result-box {
  background-color: black;
  margin-top: 20px;
  padding: 15px;
  border: 2px dashed red;
  border-radius: 10px;
  text-align: center;
}

.result-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.download-container { 
  position: absolute;
  bottom: 20px; 
  left: 57%;  
  transform: translateX(-50%);
  z-index: 9999;
  position: absolute;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  background: black;
  color: #e63900; 
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #e63900;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'njnaruto';
  src: url('../fonts/njnaruto.ttf') format('truetype');
  
}

.download-button img {
  width: 28px;
  height: 28px;
}

.download-button:hover {
  background: #111;
  border-color: white;
  color: white;
}
