@font-face {
  font-family: 'njnaruto';
  src: url('../fonts/njnaruto.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'njnaruto', sans-serif;
  background: url('../image/fondo.png') repeat;
  display: flex;
  min-height: 100vh;
  color: white;
}

.layout {
  display: flex;
  width: 100%;
}

/* --- Menu--- */
.sidebar {
  width: 250px;
  background-color: black;
  border-right: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar .logo img {
  width: 120px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background: none;
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.menu-button img {
  width: 28px;
}

.menu-button:hover, .menu-button.active {
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
}

/* --- Footer Menu --- */
.sidebar-footer {
  margin-top: auto;
}

.logout-btn {
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #ff4d4d;
  box-shadow: 0 0 10px red;
}

/* --- Main Content --- */
.content {
  margin-left: 250px;
  padding: 30px;
  flex: 1;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

/* --- Search Bar --- */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  border: 2px solid red;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 16px;
  width: 250px;
}

.search-btn {
  background: red;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.search-btn img {
  width: 20px;
}

/* --- Formulario --- */

.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-card input {
  padding: 10px;
  border: 2px solid red;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 16px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  background: red;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: #ff4d4d;
}

.btn.secondary {
  background: gray;
}

.btn.secondary:hover {
  background: #666;
}

.employee-container {
  display: flex;
  gap: 30px;
  align-items: stretch;
}

/* --- register --- */
.register-box {
  flex: 2; 
  background-color: black;
  border: 2px solid red;
  border-radius: 15px;
  padding: 25px;
  color: white;
  min-height: 500px; 
  display: flex;
  flex-direction: column;
}

/* --- search --- */
.search-box {
  flex: 1;
  background-color: black;
  border: 2px solid red;
  border-radius: 15px;
  padding: 25px;
  color: white;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

/* --- titles --- */
.register-box h2,
.search-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
}

/* --- Inputs --- */
.register-box input,
.search-box input {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid red;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 16px;
  display : flex;
}

/* --- Botones --- */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn,
.btn-register,
.btn-clear {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  border: none;
}

.btn,
.btn-register {
  background-color: red;
  color: white;
}

.btn:hover,
.btn-register:hover {
  background-color: #ff4d4d;
}

.btn-clear {
  background-color: gray;
  color: white;
}

.btn-clear:hover {
  background-color: #666;
}

/* --- Resultados --- */
.result-box {
  margin-top: 20px;
  padding: 15px;
  border: 2px dashed red;
  border-radius: 10px;
  text-align: center;
  flex: 1;
}

.result-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
