@font-face {
  font-family: 'njnaruto';
  src: url('../fonts/njnaruto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
      font-family: 'njnaruto';
      background: url('../image/background.png') repeat;
      display: flex;
      justify-content: center;
      height: 67vh;
    }

    .title{
      font-size: 22px;
      margin-left: 590px;
      color: white;
      background: black;
      border-right: 2px solid red;
      border-left: 2px solid red ;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: -100px;
      margin-bottom: -308px;
      padding: 20px;
    }

    .container {
      width: 80%;
      max-width: 1000px;
      position: relative;
      max-height: 850px;
      margin-top: 50px;
    }

    .left img {
      position: absolute;
      top: 50px;
      left: 70px;
      width: 50%;
      z-index: 10;
      object-fit: cover;
      margin-top: -20px;
    }

    .right { 
      background: #111;
      color: #fff;
      padding: 50px;
      border-radius: 2%;
      border: 2px solid red;
    }

    .right h1 {
      text-align: center;
      font-size: 28px;
      margin-bottom: 20px;
      font-family: "Comic Sans MS", cursive;
    }

    .form-group {
      
      margin-bottom: 15px;
    }

    .form-group input, .form-group select {
      width: 100%;
      padding: 12px;
      border: 2px solid red;
      border-radius: 5px;
      font-size: 14px;
      background-color: black;
      color: rgb(255 255 255);
    }

    .form-group input[type="password"] {
      letter-spacing: 2px;
    }

    .form-group label {
      font-size: 14px;
      display: block;
      margin-bottom: 5px;
    }

    .recover {
      font-size: 12px;
      color: #ff5733;
      cursor: pointer;
      text-decoration: underline;
      display: block;
      margin-bottom: 15px;
    }

    .checkbox {
      display: flex;
      align-items: center;
      font-size: 13px;
      margin-bottom: 20px;
    }

    .checkbox input {
      margin-right: 8px;
      
      }
    .checkbox input[type="checkbox"] {
      accent-color: red;
    }

    #branch-group select {
      border: 2px solid red;
      background-color: black;
      color: white;
    }

    .btn {
      width: 100%;
      background: red;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .btn:hover {
      background: #e64a19;
    }

    .naruto {
      position: absolute;
      right: -150px;
      width: 50%;
      bottom: -175px;
    }

    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .logo img {
      width: 150px;
      border: 2px solid rgb(255, 0, 0);
      border-radius: 50%;
      margin-left: -200px;
      margin-top: -85px;
    }