<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Em_Inicio.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
  <div class="sidebar">
    <div class="logo">
      <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Ichiraku Logo">
    </div>

    <nav class="menu">
        <button onclick="window.location.href='{{ url_for('Em_Inicio') }}'" class="menu-button active">
          <img src="{{ url_for('static', filename='image/casita.png') }}" alt="Home"> Home
        </button>
        <button onclick="window.location.href='{{ url_for('Em_Rordenes') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/caja.png') }}" alt="Receive orders"> Receive orders
        </button>
        <button onclick="window.location.href='{{ url_for('Em_Rpedido') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/carrito_super.png') }}" alt="Place orders"> Place orders
        </button>
        <button onclick="window.location.href='{{ url_for('Em_Hordenes') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/reloj.png') }}" alt="Order History"> Order History
        </button>
        <button onclick="window.location.href='{{ url_for('Em_Ceditar') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/corazon.png') }}" alt="Editar"> user
        </button>
      </nav>
    <button class="logout-btn" onclick="window.location.href='/logout'">LOG OUT</button>
  </div>

  <main class="content">
    <div class="box-welcome">
      <h1 class="welcome-title">Bienvenido</h1>
    </div>
    

    <section class="notification-box">
      <div class="notification-header">
        <h2>Recent Notifications</h2>
        <span>More</span>
      </div>
      <div class="notification-body">
        <p>Today</p>
      </div>
    </section>

    <div class="logo-main">
      <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Ichiraku Ramen">
    </div>
  </main>

</body>
</html>
