<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Em_css/Em_Rordenes.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Global_css/menu.css') }}">
</head>
<body>
  <div class="sidebar">
    <div class="logo">
      <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Ichiraku Logo">
    </div>
    <nav class="menu">
        <button onclick="window.location.href='{{ url_for('Em_Inicio') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/casita.png') }}" alt="Inicio"> Inicio
        </button>
        <button onclick="window.location.href='{{ url_for('Em_Rordenes') }}'" class="menu-button active">
          <img src="{{ url_for('static', filename='image/caja.png') }}" alt="Recibir pedidos"> Recibir pedidos
        </button>
        <button onclick="window.location.href='{{ url_for('Em_Rpedido') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/carrito_super.png') }}" alt="Realizar pedidos"> Realizar pedidos
        </button>
        <button onclick="window.location.href='{{ url_for('Em_Hordenes') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/reloj.png') }}" alt="Historial pedidos"> Historial pedidos
        </button>
        <button onclick="window.location.href='{{ url_for('Em_Ceditar') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/corazon.png') }}" alt="Editar"> usuario
        </button>
      </nav>
  <button class="logout-btn" onclick="window.location.href='/logout'">Cerrar sesion</button>
  </div>

  <main class="content">
    <div class="box-welcome">
  <h1 class="welcome-title">Panel de empleado</h1>
    </div>

    <div class="employee-container">

      <!-- Caja izquierda: formulario -->
      <section class="register-box">
  <h2>Panel de empleado</h2>
        <form id="registerForm">
          <label>Nombre producto</label>
          <input type="text" id="" placeholder="Nombre producto ...">

          <label>Fecha vencimiento</label>
          <input type="date" id="expirationDate" name="expirationDate" min="2025-01-01" max="2130-12-31">
  
          <label>Cantidad producto</label>
          <input type="password" id="" placeholder="Cantidad producto ...">

          <label>Categoria producto</label>
          <input type="text" id="" placeholder="Numero contacto ...">

          <div class="form-actions">
            <button type="submit" class="btn">Confirmar</button>
          </div>
        </form>
      </section>

      <!-- Caja derecha: búsqueda -->
      <section class="search-box">
        <form id="searchForm">
          <div class="search-row">
            <input type="text" placeholder="Categoria producto...">
            <input type="text" placeholder="Fecha vencimiento...">
            <input type="text" placeholder="Nombre producto...">
            <input type="text" placeholder="Cantidad ...">
          </div>
        </form>
      </section>
    </main>
  </div>
  </main>
</body>
</html>