<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Ad_Dinformes.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <div class="layout">
            <div class="sidebar">
                <div class="logo">
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Ichiraku Logo">
                </div>

            <nav class="menu">
                <button onclick="window.location.href='{{ url_for('Ad_Inicio') }}'" class="menu-button">
                <img src="{{ url_for('static', filename='image/casita.png') }}" alt="Home"> Home
                </button>
                <button onclick="window.location.href='{{ url_for('Ad_Rempleados') }}'" class="menu-button">
                <img src="{{ url_for('static', filename='image/folder.png') }}" alt="Empleados"> Employees
                </button>
                <button onclick="window.location.href='{{ url_for('Ad_Rproductos') }}'" class="menu-button">
                <img src="{{ url_for('static', filename='image/base.png') }}" alt="Productos"> Products
                </button>
                <button onclick="window.location.href='{{ url_for('Ad_Dinformes') }}'" class="menu-button active">
                <img src="{{ url_for('static', filename='image/grafica.png') }}" alt="Reportes"> Reports
                </button>
                <button onclick="window.location.href='{{ url_for('Ad_Rlocales') }}'" class="menu-button">
                <img src="{{ url_for('static', filename='image/personas.png') }}" alt="Puntos de Venta"> Points Sale
                </button>
                <button onclick="window.location.href='{{ url_for('Ad_Pnotificaciones') }}'" class="menu-button">
                <img src="{{ url_for('static', filename='image/campana.png') }}" alt="Notificaciones"> Notifications
                </button>
                <button onclick="window.location.href='{{ url_for('Ad_Ceditar') }}'" class="menu-button">
                <img src="{{ url_for('static', filename='image/corazon.png') }}" alt="Editar"> user
                </button>
            </nav>
            <button class="logout-btn" onclick="window.location.href='/logout'">LOG OUT</button>
        </div>

        <main class="main-content">
            <div class="welcome-box">
                <h1 class="welcome-title">Administrator Panel</h1>
            </div>

            <!-- Caja de búsqueda -->
            <div class="search-box">
                <form id="searchForm">
                    <input type="text" id="date" placeholder="DATE ...">
                    <input type="text" id="productName" placeholder="NAME PRODUCT ...">
                    <input type="text" id="localName" placeholder="LOCAL NAME ...">
                    <input type="text" id="search" placeholder="SEARCH ...">
                </form>
            </div>

            <!-- Resultados -->
                <div id="resultEmpleado" class="result-box">
                <p>No se ha realizado ninguna busqueda</p>
                </div>
            </section>
        </main>
    </div>

    <div class="download-container">
        <button  class="download-button">
            <img src="{{ url_for('static', filename='image/descargar.png') }}" alt="Editar"> Download
        </button>
    </div>


    

</body>
<script>
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>
</html>