<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Ad_Inicio.css') }}">
</head>
    <div class="title">
        <h1>Bienvenido</h1>
<body>
    <div class="container2">  
    <div class="container"> 
    <div class="logo">
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Ichiraku Logo">
    </div>
    <div class="logo2">
        <img src="{{ url_for('static', filename='image/casita.png') }}" alt="casita">
        <div class="casita"> 
            <h1>Home</h1>
        </div>    
        <div class="logo3">  
        <img src="{{ url_for('static', filename='image/folder.png') }}" alt="folder">
        <div class="folder"> 
            <h1>Employments</h1>
        </div> 
        <div class="logo4">  
        <img src="{{ url_for('static', filename='image/base.png') }}" alt="base">
        <div class="base"> 
            <h1>Products</h1>
        </div>  
        <div class="logo5">  
        <img src="{{ url_for('static', filename='image/grafica.png') }}" alt="grafica">
        <div class="grafica"> 
            <h1>Information</h1>
        </div>
        <div class="logo6">  
        <img src="{{ url_for('static', filename='image/personas.png') }}" alt="personas">
        <div class="personas"> 
            <h1>Points sale</h1>
        </div>
        <div class="logo7">  
        <img src="{{ url_for('static', filename='image/campana.png') }}" alt="campana">
        <div class="campana"> 
            <h1>Notification</h1>
        </div>
        <div class="logo8">  
        <img src="{{ url_for('static', filename='image/corazon.png') }}" alt="corazon">
        <div class="corazon"> 
            <h1>Account</h1>
        </div>
        <div class="container3">
        <div class="texto1">
            <h1>Resent notifications</h1>
        <div class="texto2">
            <h1>More</h1>
        <div class="texto3">
            <h1>today</h1>
    </div>
    <div class="linearoja"> 
        <button type="button" class="btn" onclick="window.location.href='/logout'">LOG OUT</button>
</body>

<script>
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>
</html>
