<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Ad_Rlocales.css') }}">
</head>
    <div class="title">
        <h1>administrator panel</h1>
<body>
<div class="container"> 
    <div class="texto6">
         <h1>list point of sale</h1>
    </div>
    <div class="campo-texto4">
        <input type="text" placeholder="Look for ... ">
    </div>
    <div class="logo12 estiloboton11" onclick="homeClick()">  
        <img src="{{ url_for('static', filename='image/lupa.png') }}" alt="lupa">
    </div>
</div>

<div class="container2"> 
    <div class="logo">
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Ichiraku Logo">
    </div> 
    <div class="logo2 estiloboton1" onclick="window.location.href='{{ url_for('Ad_Inicio') }}'">
        <img src="{{ url_for('static', filename='image/casita.png') }}" alt="casita">
        <div class="casita"> 
            <h1>Home</h1>
        </div>   
    </div>
    <div class="logo3 estiloboton2" onclick="window.location.href='{{ url_for('Ad_Rempleados') }}'">  
        <img src="{{ url_for('static', filename='image/folder.png') }}" alt="folder">
        <div class="folder"> 
            <h1>Employments</h1>
        </div> 
    </div>
    <div class="logo4 estiloboton3" onclick="window.location.href='{{ url_for('Ad_Rproductos') }}'">  
        <img src="{{ url_for('static', filename='image/base.png') }}" alt="base">
        <div class="base"> 
            <h1>Products</h1>
        </div>  
    </div>
    <div class="logo5 estiloboton4" onclick="window.location.href='{{ url_for('Ad_Dinformes') }}'">  
        <img src="{{ url_for('static', filename='image/grafica.png') }}" alt="grafica">
        <div class="grafica"> 
            <h1>Information</h1>
        </div>
    </div>
    <div class="logo6 estiloboton5" onclick="window.location.href='{{ url_for('Ad_Rlocales') }}'">  
        <img src="{{ url_for('static', filename='image/personas.png') }}" alt="personas">
        <div class="personas"> 
            <h1>Points sale</h1>
        </div>
    </div>
    <div class="logo7 estiloboton6" onclick="window.location.href='{{ url_for('Ad_Pnotificaciones') }}'">  
        <img src="{{ url_for('static', filename='image/campana.png') }}" alt="campana">
        <div class="campana"> 
            <h1>Notification</h1>
        </div>
    </div>
    <div class="linearoja"> </div>
    <div class="logo8 estiloboton7" onclick="homeClick()">  
        <img src="{{ url_for('static', filename='image/corazon.png') }}" alt="corazon">
        <div class="corazon"> 
            <h1>Account</h1>
        </div>
    </div>
    <button type="button" class="btn" onclick="window.location.href='/logout'">LOG OUT</button>
</div>

<div class="container3"> 
    <div class="container4"> 
    </div>
        <div class="texto1">
            <h1>Register point of sale</h1>
        </div>
        <div class="texto2">
            <h1>Name point of sale</h1>
        </div>
        <div class="campo-texto">
        <input type="text" placeholder="Name point of sale ... ">
        </div>
        <div class="texto3">
            <h1>Direction</h1>
        </div>
        <div class="campo-texto2">
        <input type="text" placeholder="Direction ... ">
        </div>
        <div class="texto4">
            <h1>ID local</h1> 
        </div>
        <div class="campo-texto3">
        <input type="text" placeholder="ID local ... ">
        </div>
    <div class="logo9 estiloboton8" onclick="homeClick()">  
        <img src="{{ url_for('static', filename='image/mas.png') }}" alt="mas">
        <div class="mas"> 
            <h1>Register</h1>
        </div>
    </div>
    <div class="container4">
    <div class="logo10 estiloboton9" onclick="homeClick()">  
        <img src="{{ url_for('static', filename='image/subir.png') }}" alt="subir">
    </div>
    <div class="logo11 estiloboton10" onclick="homeClick()">  
        <img src="{{ url_for('static', filename='image/basura.png') }}" alt="basura">
    </div>
</div>

</body>
<script>
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>
</html>