<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ichiraku Ramen - Admin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Ad_Rproductos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
  <body>

  <div class="sidebar">
      <div class="logo">
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Ichiraku Logo">
      </div>

    <nav class="menu">
        <button onclick="window.location.href='{{ url_for('Ad_Inicio') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/casita.png') }}" alt="Home"> Home
        </button>
        <button onclick="window.location.href='{{ url_for('Ad_Rempleados') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/folder.png') }}" alt="Empleados"> Employees
        </button>
        <button onclick="window.location.href='{{ url_for('Ad_Rproductos') }}'" class="menu-button active">
          <img src="{{ url_for('static', filename='image/base.png') }}" alt="Productos"> Products
        </button>
        <button onclick="window.location.href='{{ url_for('Ad_Dinformes') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/grafica.png') }}" alt="Reportes"> Reports
        </button>
        <button onclick="window.location.href='{{ url_for('Ad_Rlocales') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/personas.png') }}" alt="Puntos de Venta"> Points Sale
        </button>
        <button onclick="window.location.href='{{ url_for('Ad_Pnotificaciones') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/campana.png') }}" alt="Notificaciones"> Notifications
        </button>
        <button onclick="window.location.href='{{ url_for('Ad_Ceditar') }}'" class="menu-button">
          <img src="{{ url_for('static', filename='image/corazon.png') }}" alt="Editar"> user
        </button>
      </nav>
    <button class="logout-btn" onclick="window.location.href='/logout'">LOG OUT</button>
  </div>

<!-- Main Content -->
  <main class="main-content">
    <div class="welcome-box">
      <h1 class="welcome-title">Administrator Panel</h1>
    </div>

  <div class="product-container">

    <!-- Caja izquierda: formulario -->
    <section class="register-box">
      <h2>Register Product</h2>
      <form id="registerProductForm">

        <label for="nombreProducto">Name Product</label>
        <input type="text" id="nombreProducto" placeholder="Name Product ..." required>

        <label for="categoriaProducto">Product Category</label>
        <input type="text" id="categoriaProducto" placeholder="Product Category ..." required>

        <label for="unidadProducto">Unit</label>
        <input type="text" id="unidadProducto" placeholder="Unit ..." required>

        <label for="serialProducto">Product Serial</label>
        <input type="text" id="serialProducto" placeholder="Product Serial ..." required>

        <div class="form-actions">
          <button type="submit" class="btn">
            <img class="icon" src="{{ url_for('static', filename='image/mas.png') }}" alt="mas" />
            Register
          </button>

          <button type="button" class="btn secondary" onclick="uploadClick()">
            <img class="icon" src="{{ url_for('static', filename='image/subir.png') }}" alt="subir" />
            Upload
          </button>

          <button type="button" class="btn danger" onclick="deleteClick()">
            <img class="icon" src="{{ url_for('static', filename='image/basura.png') }}" alt="basura" />
            Delete
          </button>
        </div>

      </form>
    </section>

  <!-- Caja derecha: búsqueda -->
  <section class="search-box">
    <h2>List Point of Sale</h2>
    
    <!-- Input de búsqueda -->
    <label for="buscarEmpleado" class="sr-only">LIST POINT OF SALE</label>
    <input
      type="text"
      id="buscarEmpleado"
      placeholder="Search by Name or Serial"
      autocomplete="off"
    >

    <!-- Resultados -->
    <div id="resultEmpleado" class="result-box">
      <p>No se ha realizado ninguna busqueda</p>
    </div>
  </section>


    </div>
    <div id="registerMsg" style="color: green; margin-top: 10px;"></div>

  </main>
</div>

</body>
<script>
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>
</html>